<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzh.shortvideohub.mapper.UserMapper">

    <!-- 根据手机号查询用户 -->
    <select id="getUserByMP" resultType="com.zzh.shortvideohub.pojo.User">
        select * from sv_user where mobile_phone = #{user.mobilePhone}
    </select>

    <!-- 注册用户 -->
    <insert id="insertUser" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        insert into sv_user (mobile_phone, user_name, password, create_time)
        values (#{mobilePhone}, #{userName}, #{password}, #{createTime})
    </insert>

    <!-- 验证用户 -->
    <select id="checkUser" resultType="int">
        select * from sv_user where mobile_phone = #{user.mobilePhone} and password = #{user.password}
    </select>

    <!-- 创建默认用户信息 -->
    <insert id="insertUserInfo">
        insert into user_info (user_id, user_name) values(#{user.id}, #{user.userName});
    </insert>

    <!-- 取得用户具体信息 -->
    <select id="getUserInfo" resultType="com.zzh.shortvideohub.pojo.UserInfo">
        select * from user_info where user_id = #{user.id};
    </select>

</mapper>
