<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzh.shortvideohub.mapper.VideoMapper">

    <!-- 取得初始视频队列 -->
    <select id="getInitVideoList" resultType="com.zzh.shortvideohub.pojo.Video">
        SELECT v.id id, v.author_id authorId, u.user_name authorName, u.user_avatar authorAvatar,
            v.create_time createTime, v.url url, v.cover cover, v.description description, v.likes likes,
            v.duration duration, v.downloads downloads, v.comments comments from video v
        LEFT JOIN user_info u on u.user_id = v.author_id
        <if test="userInfo.userId != null">
            <where>
                author_id = #{userInfo.userId}
            </where>
        </if>
        order by create_time desc limit 20;
    </select>

    <!-- 点赞 -->
    <update id="updateVideo">
        update video
        <set>
            <if test="video.likes != null">likes = #{video.likes},</if>
            <if test="video.comments != null">comments = #{video.comments},</if>
            <if test="video.downloads != null ">downloads = #{video.downloads},</if>
        </set>
        where id = #{video.id}
    </update>
    
    <!-- 视频收藏 -->
    <insert id="insertVideoLike">
        insert into video_liker (video_id, liker, create_time)
        values (#{videoLiker.videoId}, #{videoLiker.liker}, #{videoLiker.createTime});
    </insert>

    <!-- 取消视频收藏 -->
    <delete id="deleteVideoLike">
        delete from video_liker where video_id = #{videoLiker.videoId} and liker = #{videoLiker.liker};
    </delete>

    <!-- 判断视频是否喜欢 -->
    <select id="getVideoLikeOrNot" resultType="int">
        select count(*) from video_liker where video_id = #{video.id} and liker = #{video.looker};
    </select>

    <!-- 删除视频 -->
    <delete id="deleteVideo">
        delete from video where id = #{video.id};
    </delete>
</mapper>